:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://images.unsplash.com/photo-1522364723953-452d3431c267?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}




/* ------Estilos validado------- */
  
input.ng-invalid.ng-dirty{
  border: 2px solid red;
}

input.ng-valid.ng-dirty{
  border: 2px solid green;
}

.button-disabled{
  background-color: red !important
}
.botonReactivo{
  background-color: rgb(3, 206, 3);
  border: rgb(3, 206, 3);
    color:white
}

p {
font-size: 0.75rem;
color: grey;
}


.hide{
  display: none
}

.mostrar{
  display: block
}



