<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-10 mx-auto">
            <div class="row card card-signin flex-row my-5">
                <button  class="btn text-success p-2 col-lg-2 col-md-3 col-4" [routerLink]="['/servicios/blog/:keyword']">#KeyWord</button>
                <button class="btn text-info p-2 col-lg-2 col-md-3 col-4" [routerLink]="['/servicios/blog/:keyword']">#KeyWord</button>
                <button class="btn text-primary p-2 col-lg-2 col-md-3 col-4" [routerLink]="['/servicios/blog/:keyword']">#KeyWord</button>
                <button class="btn text-danger p-2 col-lg-2 col-md-3 col-4" [routerLink]="['/servicios/blog/:keyword']">#KeyWord</button>
                <button class="btn text-warning p-2 col-lg-2 col-md-3 col-4" [routerLink]="['/servicios/blog/:keyword']">#KeyWord</button>
                <button class="btn text-secondary p-2 col-lg-2 col-md-3 col-4" [routerLink]="['/servicios/blog/:keyword']">#KeyWord</button>               
            </div>
        </div>
    </div>
  </div>