<div class="container">
  <div class="row">
    <div class="sectionTitle">
      <h2 class="textTitle">¿Cómo Funciona?</h2>
    </div>
  </div>
  <hr>

  <div class="row mb-0 px-4">
    <p> 4 pasos son lo único que te separa de conseguir tu próxima beca y poder centrarte en lo que de verdad importa,
      tu futuro:
    </p>
  </div>

  <div class="row mb-5">

    <div class="col-12">
      <div class="main-timeline">
        <div class="timeline">
          <div class="timeline-icon"><span class="year">1</span></div>
          <div class="timeline-content">
            <h3 class="title">Busca entre las mejores becas</h3>

            <p class="description"> Completa los datos de búsqueda y nosotros nos encargamos de revisar las más de
              1000 becas y mostrarte sólo las que mejor se adecúen a tus propósitos.
            </p>
          </div>
        </div>
        <div class="timeline">
          <div class="timeline-icon"><span class="year">2</span></div>
          <div class="timeline-content">
            <h3 class="title">Aprende todo lo que necesitas</h3>
            <p class="description">
              Pásate por nuestro blog, encontrarás toda la información necesaria para que puedas solicitar tu beca
              soñada y no se
              te pase la siguiente convocatoria.
            </p>

          </div>
        </div>
        <div class="timeline">
          <div class="timeline-icon"><span class="year">3</span></div>
          <div class="timeline-content">
            <h3 class="title">Regístrate</h3>
            <p class="description">
              Guarda tus búsquedas y preferencias.
            </p>
            <p class="description">
              Selecciona becas favoritas.
            </p>
            <p class="description">
              Comenta los blogs.
            </p>
            <p class="description">
              ¡Y mucho más por venir!
            </p>
          </div>
        </div>
        <div class="timeline">
          <div class="timeline-icon"><span class="year">4</span></div>
          <div class="timeline-content">
            <h3 class="title">Disfruta de tu beca</h3>
            <p class="description">
              ¡Ahora sí!
            </p>
            <p class="description">
              ¡Lo conseguiste!
            </p>
            <p class="description">
              Ya sólo te queda vivirlo.
            </p>
            <p class="description">
              ¡Disfrútalo!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="embed-responsive embed-responsive-16by9 mx-auto">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WO-K1FUPUBY" allowfullscreen></iframe>
    </div>
  </div>
  <faq></faq>

</div>