<footer class="footer layout shadow">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Secciones</h5>
        <ul class="list-unstyled enlaces-directos">
          <li>
            <a [routerLink]="['/main']"><i class="fa fa-angle-double-right"></i>Inicio</a>
          </li>
          <li>
            <a [routerLink]="['/comofunciona']"><i class="fa fa-angle-double-right"></i>Como Funciona</a>
          </li>
          <li>
            <a [routerLink]="['/servicios/buscador']"><i class="fa fa-angle-double-right"></i>Buscador</a>
          </li>
          <li>
            <a [routerLink]="['/servicios/blog']"><i class="fa fa-angle-double-right"></i>Blog</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Usuarios</h5>
        <ul class="list-unstyled enlaces-directos">
          <li>
            <a [routerLink]="['/registro']"><i class="fa fa-angle-double-right"></i>Registro</a>
          </li>
       
          <li >
              <a [routerLink]="['/login']"><i class="fa fa-angle-double-right"></i>Login</a>
          </li>
          <li>
            <a [routerLink]="['/contacto']"><i class="fa fa-angle-double-right"></i>Contacto</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Otros</h5>
        <ul class="list-unstyled enlaces-directos">
          <li>
            <a [routerLink]="['/']"><i class="fa fa-angle-double-right"></i>Aviso Legal</a>
          </li>
          <li>
            <a [routerLink]="['/']"><i class="fa fa-angle-double-right"></i>Politica de privacidad</a>
          </li>
          <li>
            <a [routerLink]="['/']"><i class="fa fa-angle-double-right"></i>Politica de cookies</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-sm-3">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item mr-4">
            <a href="javascript:void();"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item mr-4">
            <a href="javascript:void();"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item mr-4">
            <a href="javascript:void();"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="list-inline-item mr-4">
            <a href="javascript:void();"><i class="fa fa-youtube-play"></i></a>
          </li>
          <li class="list-inline-item mr-4">
            <a href="javascript:void();" target="_blank"><i class="fa fa-linkedin-square"></i></a>
          </li>
        </ul>
      </div>
      <hr />
    </div>
    <div class="row margin">
      <div class="col-xs-12 col-sm-12 col-md-12 text-center">
        <p class="whiteText">
          <u><a [routerLink]="['/']">GrantEd</a></u> es
          una marca registrada de GrantEd SA. Madrid
        </p>
        <p class="whiteText">Copyright &copy; 2018-2022; Todos los derechos reservados.</p>
      </div>
      <hr />
    </div>


  </div>
</footer>