<section class="pb-4">

    <div class="row">
        <div class="sectionTitle ">
            <h3 class="textTitle">¿Qué dicen de nosotros?</h3>
        </div>
    </div>
    <hr>

    <div class="row">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card p-3 shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-2 col-sm-12">
                                    <img class="d-block w-100" src="..." alt="Persona 1">
                                </div>
                                <div class="col-lg-10 col-sm-12">
                                    <blockquote class="blockquote mb-0">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat
                                            a
                                            ante.</p>
                                        <footer class="blockquote-footer">Someone famous in <cite
                                                title="Source Title">Source Title</cite></footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card p-3 shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-2 col-sm-12">
                                    <img class="d-block w-100" src="..." alt="Persona 1">
                                </div>
                                <div class="col-lg-10 col-sm-12">
                                    <blockquote class="blockquote mb-0">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat
                                            a
                                            ante.</p>
                                        <footer class="blockquote-footer">Someone famous in <cite
                                                title="Source Title">Source Title</cite></footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card p-3 shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-2 col-sm-12">
                                    <img class="d-block w-100" src="..." alt="Persona 1">
                                </div>
                                <div class="col-lg-10 col-sm-12">
                                    <blockquote class="blockquote mb-0">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat
                                            a
                                            ante.</p>
                                        <footer class="blockquote-footer">Someone famous in <cite
                                                title="Source Title">Source Title</cite></footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    
</section>