<div class="hero">
  <!-- 
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop >
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
      <source src="../../../assets/videos/Pexels Videos 1110140 (online-video-cutter.com).mp4" type="video/mp4">
  </video> -->


  <div id="video-carousel-example video" class="carousel slide carousel-fade" data-ride="carousel">
        
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item">
        <video class="video-fluid videoP" autoplay loop muted>
          <source src="../../../assets/videos/Wavez.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="carousel-item active">
        <video class="video-fluid w-100" autoplay loop muted>
          <source src="../../../assets/videos/Hill.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="carousel-item">
        <video class="video-fluid videoP" autoplay loop muted>
          <source src="../../../assets/videos/Mt_Baker.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
    <!--/.Slides-->

  </div>
  <!-- --- -->

  <div class=" pt-5 pb-5 mt-0 align-items-center texto">
    <div class="row justify-content-center align-items-center text-center h-100">
      <div class="col-12 col-md-8 h-50 ">
        <h1 class="display-2 text-light mb-3 mt-5 font-weight-bold"><strong>GrantEd</strong> </h1>
        <p class="lead text-light mb-2">Vive, viaja, estudia, sueña</p>
        <p class="lead text-light mb-5">Estas a solo un click de conseguir lo que te propongas</p>

        <button class="btn btn-success" [routerLink]="['/servicios/buscador']">Encuentra tu beca</button>

        <div class=" p-relative d-block mt-5">
          <i class="animated infinite pulse fa fa-angle-down fa-4x text-light"></i>
        </div>
      </div>

    </div>
  </div>
</div>