<div class="borde green">

    <div class="row">
        <div class="sectionTitle">
          <h2 class="textTitle">Becas favoritas</h2>
        </div>
      </div>
      <hr>
  

  <div class="border border-top-0 mb-4">
    <div class="row">
      <div [ngClass]="{'col-5 card card-signin p-0 mb-4':true, 'offset-2':impar}"
        *ngFor="let beca of arrBecasUsuario; let par = even; let impar = odd;">

        <div class="card-header">
          <i class="fa fa-heart cursor" (click)="deleteBecaFav(beca)" data-dismiss="modal"></i>
          <h5 class="card-title">
            {{beca.title}}
          </h5>
        </div>
        <div class="card-body cursor" data-toggle="modal" data-target="#idModal" (click)="manejarBecaSelecionada(beca)">
          <h5 class="card-title">{{beca.semestre}}</h5>
          <p class="card-text" [innerHTML]="beca.description"></p>
        </div>
      </div>
    </div>
  </div>
 

</div>