/* -----------Estilos de la card-------------- */

.textTitle {
  font-size: 1.7em
}

.card {
  height: 80vh;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
  overflow: scroll;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.card-signin .card-img-left {
  width: 55%;
  background: scroll center url('https://images.unsplash.com/photo-1522364723953-452d3431c267?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
  background-size: cover;
}

.card-signin .card-body {
  padding: 0rem 6rem 1rem 6rem !important;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 90%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 0.5rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
  width: 30vw
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

/* -----------Estilos del validado-------------- */

input.ng-invalid.ng-dirty {
  border: 2px solid red;
}

input.ng-valid.ng-dirty {
  border: 2px solid green;
}

.button-disabled {
  background: red
}

.botonReactivo {
  background: #007bff;
}

p {
  font-size: 0.75rem;
  color: grey;
}


.hide{
  display: none
}

.mostrar{
  display: block
}
