<section class="pb-4">

    <div class="row">
        <div class="sectionTitle ">
            <h3 class="textTitle">¿Qué es GrantEd?</h3>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-4 col-sm-12">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">

                        <div class="modal-body ancho">
                            <div class="embed-responsive embed-responsive-16by9 mx-auto">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/G1IbRujko-A"
                                    allowfullscreen></iframe>
                            </div>


                        </div>

                    </div>
                </div>
            </div>


        </div>

        <div class="col-md-8 col-sm-10">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, soluta! Esse perspiciatis
                voluptas eveniet. Facere maxime sint neque nobis aperiam quis, at ipsa, quibusdam aut tempore,
                nesciunt nulla ex iusto.</p>
        </div>

    </div>

</section>

