<section class="pb-4">

    <div class="row mt-5">
        <div class="sectionTitle ">
            <h3 class="textTitle">¿Qué es GrantEd?</h3>
        </div>
    </div>
    <hr>

    <div class="row mb-0">
        <div class="col-md-5 col-sm-12">

            <img class="cursor videoImage" src="../../../assets/images/Captura de pantalla 2019-03-20 a las 10.07.13.png"
                alt="Captura Portada Video" data-toggle="modal" data-target="#exampleModalCenter">

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body ancho">
                            <div class="embed-responsive embed-responsive-16by9 mx-auto">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WO-K1FUPUBY"
                                    allowfullscreen></iframe>
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-sm-10  mt-4 pl-5">
            <p>GrantEd es tu aliado para conseguir todo lo que te propongas (o casi). ¿Quiéres cambiar de aires?
                ¿Necesitas una ayuda para conseguir tus propósitos? ¿Quiéres conseguir experiencia intenacional? o ¿Qué
                tal simplemente continuar con tus estudios pero sin preocupaciones económicas?
            </p>
            <p class="font-weight-bold">
                Sea cual sea tu propósito: GrantEd te ayudará a conseguirlo.
            </p>
            <p>
            Gracias a nuestro buscador de becas que analiza <span class=font-weight-bold>más de 1000 becas</span>  y te ofrece sólo aquellas que más se
            ajusten a tus necesidades. </p>
            <p>
                ¡Y no dejes de pasarte por nuestro blog! Donde podrás encontrar toda la ayuda y consejos para ayudarte
                a conseguir tus objetivos.
            </p>
        </div>

    </div>

</section>