<p>Escrito por <button type="button" class="btn border rounded border-success ml-1" data-toggle="modal"
        data-target="#exampleModalCenter">
        <p class="mb-0"> Antonio Vallejo</p>

    </button></p>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content  p-4">

            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid"
                            src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                            alt="card image"></p>
                    <h4 class="card-title">Antonio Vallejo</h4>
                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                <i class="fa fa-skype"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                <i class="fa fa-google"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <p class="modal-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem qui doloribus possimus sunt quae,
                corporis amet. Consequuntur, quo? Quo, doloribus sapiente? Tempora debitis itaque impedit! Facilis natus
                temporibus repellendus doloremque.
            </p>

        </div>
    </div>
</div>