.btn {
    font-size: 90%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 0.5rem;
}

.image {
    width: 70%;
    height: auto;
    border-radius: 50%;
    text-align: center
}


/* --------------------- */


  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  
  
  
  /* ------Estilos validado------- */
    
  input.ng-invalid.ng-dirty{
    border: 2px solid red;
  }
  
  input.ng-valid.ng-dirty{
    border: 2px solid green;
  }
  
  .button-disabled{
    background: red
  }
  .botonReactivo{
    background:#007bff;
  }
  
  p {
  font-size: 0.75rem;
  color: grey;
  }
  
  
  

  /* RESULTADOS */

  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.226);
    overflow: hidden;
  }
  
  .border {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    padding: 1em 3em 2em 3em
  }
  
  p{
    font-size: 0.8em
  }
  
  .card-title{
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0.25em
  
  }
  
  .card-header{
    text-align: center;
    padding: 0.5em
  }
  
  .card-body{
    padding: 0.5em 1em 0.5em 1em
  }
  
  