<div class="container mb-5">

  <div class="mb-4 px-5">
    <div class="row">
        <div class="sectionTitle">
          <h2 class="textTitle">Área de Usuario</h2>
        </div>
      </div>
      <hr>

    <form novalidate [formGroup]="formUpdate" (ngSubmit)="manejarUpdate()" *ngIf="formUpdate?.value">

      <div class="row">
        <div class="col-2 pt-4">
          <div class="row">
            <div class="contenedor contenedor-ficha">
                <img [src]="urlImagen" class="image mx-auto d-block"
                onerror="if (this.src != 'error.jpg') this.src = '../../../assets/images/imagengranted.jpg'">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="image" (change)="onChangeImagen($event)">
                <label class="custom-file-label" for="inputGroupFile01">+</label>
              </div>
              
            </div>

            <div class="progress mb-4" *ngIf="uploadPercent">
              <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%': width}">{{width}}%</div>
            </div>
      

            <button [ngClass]="{'botonReactivo btn btn-lg btn-primary btn-block text-uppercase':true}" [disabled]="formUpdate.invalid" type="submit"
              data-toggle="modal" data-target="#exampleModalCenter">
              Guardar </button>
            <p class="error" *ngIf="formUpdate.invalid">
              Parece que has olvidado completar alguno de los campos marcados con *
            </p>
            <button class="btn btn-lg btn-danger btn-block text-uppercase " type="submit" (click)='userExit()'> Salir
            </button>
          </div>



      </div>
        <div class="col-10">

          <div class="row">


            <div class="col-6 px-5">
              <div class="form-label-group">
                <label>¿Cómo te llamas?*</label>

                <input class="form-control" name="name" id="name" type="text" placeholder="Introduce tu nombre"
                  autofocus formControlName='name' [value]="usuario.name">

                <p class="error"
                  *ngIf="formUpdate.controls['name'].errors?.required && formUpdate.controls['name'].dirty">
                  ¿Te imaginas un mundo sin identidades? Necesito un nombre para poder recordarte
                </p>
                <p class="error"
                  *ngIf="formUpdate.controls['name'].errors?.maxlength && formUpdate.controls['name'].dirty">
                  El campo nombre tiene un tamaño maximo de
                  {{formUpdate.controls['name'].errors.maxlength.requiredLength}}
                  caracteres y has escrito {{formUpdate.controls['name'].errors.maxlength.actualLength}}
                  caracteres
                </p>
              </div>

              <div class="form-label-group">
                <label for="inputSurname">¿Cuál es tu apellido?*</label>
                <input class="form-control" name="surname" id="surname" placeholder="Introduce tu apellido" type="text"
                  formControlName='surname'>

                <p class="error"
                  *ngIf="formUpdate.controls['surname'].errors?.required && formUpdate.controls['surname'].dirty">
                  Seguro que no eres la única persona en el mundo con ese nombre... ¿Cómo te apellidas?
                </p>

                <p class="error"
                  *ngIf="formUpdate.controls['surname'].errors?.maxlength && formUpdate.controls['surname'].dirty">
                  El campo apellido tiene un tamaño maximo de
                  {{formUpdate.controls['surname'].errors.maxlength.requiredLength}}
                  caracteres y has escrito {{formUpdate.controls['surname'].errors.maxlength.actualLength}}
                  caracteres
                </p>
              </div>

              <div class="form-label-group">
                <label for="inputUsername">¿Con que nombre quieres que te llamemos?*</label>
                <input class="form-control" name="username" id="username" placeholder="Introduce tu nombre de usuario"
                  type="text" formControlName='username'>

                <p class="error"
                  *ngIf="formUpdate.controls['username'].errors?.required && formUpdate.controls['username'].dirty">
                  Para mi eres inolvidable... por favor dime con que nombre recordarte
                </p>
                <p class="error"
                  *ngIf="formUpdate.controls['username'].errors?.maxlength && formUpdate.controls['username'].dirty">
                  EL campo usuario tiene un tamaño maximo de
                  {{formUpdate.controls['username'].errors.maxlength.requiredLength}}
                  caracteres y has escrito {{formUpdate.controls['username'].errors.maxlength.actualLength}}
                  caracteres
                </p>
              </div>

              <div class="form-label-group">
                <label for="inputEmail">¿En que email podemos contactarte?* </label>
                <input type="email" class="form-control" id="mail" name="mail" placeholder="¡Prometemos no enviar
                                span!" formControlName='mail'>
                <p class="error"
                  *ngIf="formUpdate.controls['mail'].errors?.required && formUpdate.controls['mail'].dirty">
                  ¿Y si algún día tengo algo importante que decir? Dime en donde puedo contactarte </p>
                <p class="error"
                  *ngIf="formUpdate.controls['mail'].errors?.pattern && formUpdate.controls['mail'].dirty">
                  Eso no me suena a un email válido... revísalo por favor
                </p>
              </div>


              <div class="form-label-group">
                <label>¿Qué edad tienes?</label>
                <input type="text" name="age" id="age" class="form-control" formControlName='age'>
                <p class="error" *ngIf="formUpdate.controls['age'].errors?.age && formUpdate.controls['age'].dirty">
                  {{formUpdate.controls['age'].errors?.age}}
                </p>
              </div>

            </div>
            <div class="col-6 px-5">
              <div class="row">
                <mat-form-field class="col-12 mb-4">
                   <mat-select placeholder="Genero" formControlName="gender" multiple>
                    <mat-option *ngFor="let gender of arrGenders" [value]="gender">{{gender}}
                    </mat-option>
                  </mat-select> 
                </mat-form-field>

                <mat-form-field class="col-12 mb-4">
                  <mat-select placeholder="Area de estudios" formControlName="study_field" multiple>
                    <mat-option *ngFor="let field of arrFields" [value]="field.toLowerCase()">{{field}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col-12 mb-4">
                  <mat-select placeholder="Tipo de estudios" formControlName="study_level" multiple>
                    <mat-option *ngFor="let level of arrLevels" [value]="level.toLowerCase()">{{level}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>


                <mat-form-field class="col-12 mb-4">
                  <mat-select placeholder="Pais de origen" formControlName="country_origin"multiple>
                    <mat-option *ngFor="let country of arrCountries" [value]="country.nombre.toLowerCase()">{{country.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col-12 mb-4">
                  <mat-select placeholder="Pais de destino" formControlName="country_destination" multiple>
                    <mat-option *ngFor="let country of arrCountries" [value]="country.nombre.toLowerCase()">{{country.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
  <usuario-becas></usuario-becas>
</div>





<!-- ----------modal------------- -->


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        {{result}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success hide" (click)="continuarUsuario()" data-dismiss="modal"
          [ngClass]="{'mostrar': comprobacionResultado}">Continuar al Usuario</button>
      </div>
    </div>
  </div>
</div>