.btn {
  font-size: 90%;
  border-radius: 5px;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 0.5rem;
}

.image {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  text-align: center;
}

.custom-file-label {
  color: white;
  background-color: chartreuse;
  border: 1px solid chartreuse;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
.custom-file-label::after {
  display: none;
}

.form-control{
  background-color: transparent
}

.contenedor-ficha{
  position: relative;
  width: 100%;
}


.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

/* ------Estilos validado------- */

input.ng-invalid.ng-dirty {
  border: 2px solid red;
}

input.ng-valid.ng-dirty {
  border: 2px solid green;
}

.button-disabled {
  background-color: red !important;
  border-color: red !important;
}

.botonReactivo {
  background-color: #007bff;
  color: white
}

p {
  font-size: 0.75rem;
  color: grey;
}

.progress {
  width: 100%;
  background-color: #ddd
}

.progress-bar {
  background-color: rgb(3, 206, 3);
}

.hide {
  display: none
}

.mostrar {
  display: block
}

.contenedor-ficha{
  margin-bottom: 20px;
}

.contenedor-ficha .custom-file{
  position: absolute !important;
  top: 0px;
  right: 0px;
  width: 32px;
}

.contenedor-ficha .custom-file-input {
  z-index: 2;
  width: 32px;
  height: calc(2.25rem + 2px);
  margin: 0;
  opacity: 0;
}

