<div class="row">

  <div class="sectionTitle ">
    <h3 class="textTitle">Titulo del Post </h3>
  </div>
</div>
<hr>


<div class="new-posts">

  <div class="row justify-content-center no-gutters mb-5 mb-lg-0 rowheight">
    <div class="col-lg-11 mx-auto title-image">
      <img src="../../../assets/images/g-architecture.jpg" alt="imagen 1">
    </div>

    <div class="col-lg-11 mx-auto">
      <div class="bg-green">
        <button class="btn bg-white rounded text-success p-2 mt-4 mr-4 float-right"
          [routerLink]="['/servicios/blog/:keyword']">#KeyWord</button>

        <div class="description-text">
          <h4>Subtitulo del Post</h4>
          <hr class=" mb-4 ml-0 mediun">

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius esse iure quaerat beatae,
            laborum fugiat culpa. Molestiae eum et molestias, cupiditate dolor dolorum deserunt nulla voluptatibus
            provident. Numquam, rem molestiae.+
          </p>

          <div class="image float-right post-image ml-md-4 mr-2">
            <img src="../../../assets/images/g-shutterbug.jpg" alt="...">
          </div>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius esse iure quaerat beatae,
            laborum fugiat culpa. Molestiae eum et molestias, cupiditate dolor dolorum deserunt nulla voluptatibus
            provident. Numquam, rem molestiae.+
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, tempora maxime eos aut consequatur modi
            sunt numquam cum soluta! Autem, voluptate! Rerum non, error doloribus obcaecati dolorem totam esse
            tempore?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur voluptates officiis itaque
            possimus veritatis dolore, praesentium quasi quis facere vel laborum voluptatibus incidunt accusantium quae
            ab tempora! Esse, sit vero.
          </p>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius esse iure quaerat beatae,
            laborum fugiat culpa. Molestiae eum et molestias, cupiditate dolor dolorum deserunt nulla voluptatibus
            provident. Numquam, rem molestiae.+ Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus,
            sed facilis dolorum ea nostrum blanditiis, atque soluta cum minus voluptates recusandae optio cupiditate,
            dolor aut adipisci est. Inventore, nemo cum.
          </p>

          <h4 class="mt-3">Subtitulo del Post</h4>
          <hr class=" mb-4 ml-0 mediun">

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius esse iure quaerat beatae,
            laborum fugiat culpa. Molestiae eum et molestias, cupiditate dolor dolorum deserunt nulla voluptatibus
            provident. Numquam, rem molestiae.+
          </p>

          <div class="image float-left post-image ml-md-4">
            <img src="../../../assets/images/g-shutterbug.jpg" alt="...">
          </div>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius esse iure quaerat beatae,
            laborum fugiat culpa. Molestiae eum et molestias, cupiditate dolor dolorum deserunt nulla voluptatibus
            provident. Numquam, rem molestiae.+
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, tempora maxime eos aut consequatur modi
            sunt numquam cum soluta! Autem, voluptate! Rerum non, error doloribus obcaecati dolorem totam esse
            tempore?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur voluptates officiis itaque
            possimus veritatis dolore, praesentium quasi quis facere vel laborum voluptatibus incidunt accusantium quae
            ab tempora! Esse, sit vero.
          </p>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius esse iure quaerat beatae,
            laborum fugiat culpa. Molestiae eum et molestias, cupiditate dolor dolorum deserunt nulla voluptatibus
            provident. Numquam, rem molestiae.+ Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus,
            sed facilis dolorum ea nostrum blanditiis, atque soluta cum minus voluptates recusandae optio cupiditate,
            dolor aut adipisci est. Inventore, nemo cum.
          </p>

          <hr class="mb-4 ml-0 mediun">
          <post-autor></post-autor>
        </div>

      </div>
    </div>
  </div>

</div>
<post-comentarios></post-comentarios>