<section class="pb-4">

    <div class="row">
        <div class="sectionTitle ">
            <h3 class="textTitle">Servicios</h3>
        </div>
    </div>
    <hr>


    <div class="row">


        <div class="images mx-auto">
            <div class="col-12 col-md-6 mb-2">
                <img src="../../../assets/images/alphabet-arts-and-crafts-blog-459688 copia.jpg" alt="">
                <div class="velo">
                    <h3> Encuentra tu <br>
                        beca ideal</h3>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <img src="../../../assets/images/blog.jpg" alt="">
                <div class="velo">
                    <h3> Aprende todo lo <br>
                        que necesitas </h3>
                </div>
            </div>


        </div>
       
    </div>
</section>