<section class="pb-4">

    <div class="row">
        <div class="sectionTitle ">
            <h3 class="textTitle">Servicios</h3>
        </div>
    </div>
    <hr>


    <div class="row">

            <div class="images mx-auto">
                    <article>
                        <img src="../../../assets/images/g-architecture.jpg " alt="">
                        <div class="velo">
                            <h3> Encuentra tu
                                 beca ideal</h3>
                        </div>
                    </article>
                    <article><img src="../../../assets/images/g-minimalismo.jpg" alt="">
                        <div class="velo">
                            <h3> Aprende todo lo
                                 que necesitas </h3>
                        </div>
                    </article>
                   
                </div>
        <!-- <div class="col-3 mx-auto ">
            <div class="text-center">
                <h3 class="textTitle">Buscador</h3>
                <h3 class="textTitle">de becas</h3>
            </div>




        </div>
        <div class="col-3 mx-auto text-center">
            <div class="text-center">
                <h3 class="textTitle">Blog</h3>

            </div>
        </div> -->
    </div>
</section>



