
.images
{
    width: 80vw;
}

.images div{
    float: left;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

 .images div:hover .velo{
    opacity: 1;
}

 .images div .velo{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: 1s;
}

  .images div .velo h3{
    position: relative;
    top: 30%;
    text-align: center;
    left: 500px;
    transition: 1s;
    color: rgb(3, 206, 3) !important;
    font-size: 3em
}

 .images div:hover .velo h4,  .images div:hover .velo h3{
    left: 0px;
}

 .images div:hover img{
    transform: rotateZ(10deg) scale(1.5);
}
 .images div img{
    width: 100%;
    height: auto;
     transition: 1.5s;
}


@media(max-width: 576px) {
    .images div .velo h3{
       
        font-size: 1em
    }
}
@media(max-width: 768px) {
    .images div .velo h3{
       
        font-size: 2em
    }
}






