/* @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900'); */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import "../node_modules/bootstrap-select/dist/css/bootstrap-select.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';
* {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Montserrat', sans-serif
}

.green {
    background-color: rgba(67, 247, 67, 0.24)
}
.btn-success{
    background-color: rgb(3, 206, 3);
    border: rgb(3, 206, 3)
  }
.green-text{
    color: rgb(3, 206, 3)
}
.green-text:hover{
    color: rgb(3, 66, 3);
    text-decoration: none
}


.blue {
    background-color: rgb(1, 1, 56)
}

.gray {
    background-color: #3c3d3d
}

.lightgray {
    background-color: rgb(112, 112, 112);
}

.layout {
    background-color: rgb(12, 12, 63);
}

.wrapper {
    background: white !important
}

hr {
    margin: 1em 2em 2em 2em
}

h1, h2, h3, h4 {
    color: rgb(1, 1, 78) !important;
    font-weight: 700
}

p, blockquote {
    font-weight: 300;
    color: rgb(15, 15, 56) !important;
}

cite, .blockquote-footer {
    font-weight: 300;
    color: rgb(5, 172, 5) !important;
}

.whiteText {
    color: white !important
}

.sectionTitle {
    margin: 0 auto;
    margin-top: 0.5em;
    padding: 1.5em 0em 0.5em 0em;
}

.textTitle {
    font-size: 2em
}

.totalWidth {
    width: 100%
}

@media (max-width: 767.98px){
    html {
        hyphens: auto !important;
            }
}