<div class="row mt-4">
  <div class="col-lg-11 mx-auto mb-5">
    <h3>Comentarios</h3>

    <div class="row border p-3" *ngFor="let comment of arrComments">
      <div class="col-md-2 col-12 d-flex align-items-center">
        <div class="image mx-auto ">
          <img [src]="comment.image" alt="card image">
        </div>

      </div>

      <div class="col-md-10 col-12">
        <p> <strong>{{comment.name}}</strong> <small class="float-right">{{comment.date | date: "dd/MM/y H:m" }} <button class="btn btn-elimimar" (click)="borrarComentario(comment?.id)" *ngIf="comment.token == tokenUsuario">-</button></small></p>
        <p>{{comment.text}}</p>
      </div>
    </div>

    <form novalidate [formGroup]="formComment" (ngSubmit)="manejarComentarios()">
      <div class="form-group">
        <label for="comment">Añadir comentario</label>
        <textarea class="form-control" rows="5" id="comment" formControlName='comment'>Hola, soy una prueba</textarea>
        <button class="btn btn-success" type="submit">Enviar</button>
        <p *ngIf="!tokenUsuario">Solo los usuarios registrados pueden comentar... pero no te llevará más de 5 min <strong><a [routerLink]="['/registro']">¡Regístrate!</a></strong> </p>
      </div>
    </form>



  </div>
</div>