<div class="row mt-4">
  <div class="col-lg-11 mx-auto">
    <h3>Comentarios</h3>

    <div class="row border p-3">
      <div class="col-md-2 col-12 d-flex align-items-center">
        <div class="image mx-auto ">
          <img src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image">
        </div>

      </div>

      <div class="col-md-10 col-12">
        <p> <strong>Username</strong> <small class="float-right">dd/mm/aaaa hh:mm</small></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, officia accusamus
          veniam, veritatis adipisci
          quis praesentium ullam exercitationem, delectus placeat tenetur repudiandae modi quo eligendi facilis
          mollitia
          laboriosam dignissimos distinctio!</p>
      </div>
    </div>
    <div class="row border p-3">
      <div class="col-md-2 col-12 d-flex align-items-center">
        <div class="image mx-auto ">
          <img src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image">
        </div>

      </div>

      <div class="col-md-10 col-12">
        <p> <strong>Username</strong> <small class="float-right">dd/mm/aaaa hh:mm</small></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, officia accusamus
          veniam, veritatis adipisci
          quis praesentium ullam exercitationem, delectus placeat tenetur repudiandae modi quo eligendi facilis
          mollitia
          laboriosam dignissimos distinctio!</p>
      </div>
    </div>
    <div class="row border p-3">
      <div class="col-md-2 col-12 d-flex align-items-center">
        <div class="image mx-auto ">
          <img src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image">
        </div>

      </div>

      <div class="col-md-10 col-12">
        <p> <strong>Username</strong> <small class="float-right">dd/mm/aaaa hh:mm</small></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, officia accusamus
          veniam, veritatis adipisci
          quis praesentium ullam exercitationem, delectus placeat tenetur repudiandae modi quo eligendi facilis
          mollitia
          laboriosam dignissimos distinctio!</p>
      </div>
    </div>





  </div>
</div>