.border{
border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;
}

.image{
width: 70%;
height: auto;
border-radius: 50%;
text-align: center
}

.row {
   
    margin-right: 0px;
    margin-left: 0px;
}

img{
    width: 5em;
    height: 5em;
    border-radius: 50%
}

.btn-danger {
    color: #fff;
    background-color: #dc3546d3;
    border-color: #dc3546d3;
}

@media (max-width: 991.98px){
    img{
        width: 30%;
    }
    
    .new-posts .description-text {
        padding: 3em 2em 0em 2em;
    }
}