<blog-keywords></blog-keywords>

<div class="container ">

  <div class="row" *ngIf="arrBlogsCategoria">
    <div class="sectionTitle ">
      <h2 class="textTitle">Post sobre {{arrBlogsCategoria[0].name}} </h2>
    </div>
  </div>
  <hr>


  <div class="new-posts">

    <div class="row justify-content-center no-gutters mb-5 mb-lg-0 rowheight"
      *ngFor="let post of arrBlogsCategoria; let par = even; let impar = odd">
      <div class=" col-lg-6">
        <img class="img-fluid" [src]="post.imagen_2" alt="imagen post">
      </div>
      <div [ngClass]="{'col-lg-6': true, 'order-lg-first':impar, 'order-lg-last':par}">

        <div class="bg-green text-center">

          <button
            [ngClass]="{'btn bg-white rounded text-success p-2 mt-2': true, 'mr-2 float-right':par, 'ml-2 float-left':impar }"
            [routerLink]="['/servicios/blog/categoria', categoria.id]" *ngFor= "let categoria of post.categorias">#{{categoria.name}}</button>
          <div [ngClass]="{'description-text my-auto text-center': true, 'text-lg-left':par, 'text-lg-right':impar}">
            <h3>{{post.title}}</h3>
            <p class="mb-0">{{post.description}} </p>
            <a class="font-weight-bold green-text" [routerLink]="['/servicios/blog/post', post.id]">Leer mas</a>
            <hr class="d-none d-lg-block mb-0 ml-0">
          </div>
        </div>
      </div>
    </div>


    <div class="row mt-4">
      <nav class="mx-auto">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Anteriores</a>
          </li>
          <li class="page-item active ">
            <a class="page-link number" href="#">1 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item "><a class="page-link number" href="#">2</a></li>
          <li class="page-item "><a class="page-link number" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Siguiente</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>