<div class="border green">
    <h3 class="login-heading mb-3 font-weight-bold text-center">Becas disponibles</h3>
    <hr>

  <div class="row">
    <div class="col-5 card card-signin p-0">
        <div class="card-header">
            Pais destino
          </div>
          <div class="card-body">
            <h5 class="card-title">Nombre beca</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore ea doloribus, iure
              perferendis illo assumenda fugiat</p>
          </div>
    </div>
    <div class="col-5 offset-2 card card-signin p-0">
      <div class="card-header">
        Pais destino
      </div>
      <div class="card-body">
        <h5 class="card-title">Nombre beca</h5>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore ea doloribus, iure
          perferendis illo assumenda fugiat</p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-5 card card-signin mt-5 p-0">
        <div class="card-header">
            Pais destino
          </div>
          <div class="card-body">
            <h5 class="card-title">Nombre beca</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore ea doloribus, iure
              perferendis illo assumenda fugiat</p>
          </div>
    </div>
    <div class="col-5 offset-2 card card-signin mt-5 p-0">
        <div class="card-header">
            Pais destino
          </div>
          <div class="card-body">
            <h5 class="card-title">Nombre beca</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore ea doloribus, iure
              perferendis illo assumenda fugiat</p>
          </div>
    </div>
  </div>

</div>