<div class="row no-gutter">
  <div class="d-none d-md-flex col-md-3 col-lg-5 image bg-image"></div>
  <div class="col-md-9 col-lg-7">
    <div class="login d-flex align-items-center pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-11 col-lg-10 mx-auto">



            <form novalidate [formGroup]="formRegistro" (ngSubmit)="manejarFormulario()">


              <div id="carouselExampleControls" class="carousel slide mx-3 mx-lg-0 mt-4" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">

                    <h3 class="login-heading mb-3 font-weight-bold text-center">Bienvenido al inicio de tu nueva vida
                    </h3>
                    <hr class="mb-5">

                    <div class="row mb-3 mt-5">
                      <div class="col-md-12 col-lg-6 pr-lg-5">
                        <div class="form-label-group">
                          <label>¿Cómo te llamas?*</label>
                          <!-- <mat-form-field>
                          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field> -->
                          <input class="form-control" name="name" id="name" type="text"
                            placeholder="Introduce tu nombre" autofocus formControlName='name'>
                          <p
                            class="error" *ngIf="formRegistro.controls['name'].errors?.required && formRegistro.controls['name'].dirty">
                            ¿Te imaginas un mundo sin identidades? Necesito un nombre para poder recordarte
                          </p>
                          <p
                            class="error" *ngIf="formRegistro.controls['name'].errors?.maxlength && formRegistro.controls['name'].dirty">
                            El campo nombre tiene un tamaño maximo de
                            {{formRegistro.controls['name'].errors.maxlength.requiredLength}}
                            caracteres y has escrito {{formRegistro.controls['name'].errors.maxlength.actualLength}}
                            caracteres
                          </p>
                        </div>
                      </div>

                      <div class="col-md-12 col-lg-6 pl-lg-5">
                        <div class="form-label-group">
                          <label for="inputSurname">¿Cuál es tu apellido?*</label>
                          <input class="form-control" name="surname" id="surname" placeholder="Introduce tu apellido"
                            type="text" formControlName='surname'>

                          <p
                            class="error" *ngIf="formRegistro.controls['surname'].errors?.required && formRegistro.controls['surname'].dirty">
                            Seguro que no eres la única persona en el mundo con ese nombre... ¿Cómo te apellidas?
                          </p>

                          <p
                            class="error" *ngIf="formRegistro.controls['surname'].errors?.maxlength && formRegistro.controls['surname'].dirty">
                            El campo apellido tiene un tamaño maximo de
                            {{formRegistro.controls['surname'].errors.maxlength.requiredLength}}
                            caracteres y has escrito {{formRegistro.controls['surname'].errors.maxlength.actualLength}}
                            caracteres
                          </p>
                        </div>
                      </div>
                    </div>


                    <div class="row mb-3">
                      <div class="col-md-12 col-lg-6 pr-lg-5">
                        <div class="form-label-group">
                          <label for="inputUsername">¿Con qué nombre quieres que te llame?*</label>
                          <input class="form-control" name="username" id="username"
                            placeholder="Introduce tu nombre de usuario" type="text" formControlName='username'>
                          <p
                            class="error" *ngIf="formRegistro.controls['username'].errors?.required && formRegistro.controls['username'].dirty">
                            Para mi eres inolvidable... por favor dime con que nombre recordarte
                          </p>
                          <p
                            class="error" *ngIf="formRegistro.controls['username'].errors?.maxlength && formRegistro.controls['username'].dirty">
                            EL campo usuario tiene un tamaño maximo de
                            {{formRegistro.controls['username'].errors.maxlength.requiredLength}}
                            caracteres y has escrito {{formRegistro.controls['username'].errors.maxlength.actualLength}}
                            caracteres
                          </p>
                        </div>

                      </div>
                      <div class="col-md-12 col-lg-6 pl-lg-5">
                        <div class="form-label-group">
                          <label for="inputEmail">¿En qué email puedo contactarte?* </label>
                          <input type="email" class="form-control" id="mail" name="mail"
                            placeholder="¡Prometo no enviar span!" formControlName='mail'>
                          <p
                            class="error" *ngIf="formRegistro.controls['mail'].errors?.required && formRegistro.controls['mail'].dirty">
                            ¿Y si algún día tengo algo importante que decir? Dime en donde puedo contactarte </p>
                          <p
                            class="error" *ngIf="formRegistro.controls['mail'].errors?.pattern && formRegistro.controls['mail'].dirty">
                            Eso no me suena a un email válido... revísalo por favor
                          </p>
                        </div>
                      </div>
                    </div>



                    <div class="row mb-3">
                      <div class="col-md-12 col-lg-6 pr-lg-5">
                        <div class="form-label-group">
                          <label>¡Protégete con una buena contraseña!*</label>
                          <input type="password" class="form-control" name="password" id="password"
                            placeholder="Introduce tu contraseña" formControlName='password'>
                          <p
                            class="error" *ngIf="formRegistro.controls['password'].errors?.pattern && formRegistro.controls['password'].dirty">
                            Para mayor seguridad la contraseña te recomiendo al menos 6 y 15 caracteres con 1 numero y 1
                            letra
                          </p>
                        </div>
                      </div>

                      <div class="col-md-12 col-lg-6 pl-lg-5">
                        <div class="form-label-group">
                          <label>Repite la contraseña para doble seguridad*</label>
                          <input type="password" class="form-control" name="r-password" id="r-password"
                            placeholder="Repite tu contraseña" formControlName='password_repeat'>
                          <p class="error" *ngIf="formRegistro.errors?.repeatpassword">
                            {{formRegistro.errors.repeatpassword}}
                          </p>
                        </div>

                        <!-- <div class="custom-control custom-checkbox mb-3">
                      <input type="checkbox" class="custom-control-input" id="remember_pasword">
                      <label class="custom-control-label" for="customCheck1" formControlName='remember'>Recordar Contraseña</label>
                    </div> -->
                      </div>
                    </div>



                    <div class="row mb-3">
                      <div class="col-md-12 col-lg-6 pr-lg-5 ">
                        <label>¿Cuál es tu género?</label>
                        <select class="selectpicker" name="gender" formControlName='gender' id="gender"
                          title="Selecciona tu sexo">
                          <option value="hombre">Hombre</option>
                          <option value="mujer">Mujer</option>
                          <option value="otro">Otro</option>
                        </select>
                      </div>

                      <div class="col-md-12 col-lg-6 pl-lg-5">
                        <button class="btn btn-block btn-success mt-4" href="#carouselExampleControls" role="button"
                          data-slide="next">
                          Adelante
                        </button>
                      </div>
                    </div>
                  </div>


                  <div class="carousel-item">

                    <h3 class="login-heading mb-3 font-weight-bold text-center">Sólo unos datos mas para ¡poder
                      ofrecerte la
                      mejor selección de becas</h3>
                    <hr class="mb-5">

                    <div class="row mb-3">
                      <div class="col-md-12 col-lg-6 pr-lg-5">
                        <div class="form-label-group">
                          <label>¿Qué edad tienes?</label>
                          <input type="text" name="age" id="age" class="form-control" formControlName='age'>
                          <p class="error" *ngIf="formRegistro.controls['age'].errors?.age && formRegistro.controls['age'].dirty">
                            {{formRegistro.controls['age'].errors?.age}}
                          </p>
                        </div>
                      </div>

                      <div class="col-md-12 col-lg-6 pl-lg-5 ">
                        <div class="form-label-group">
                          <label>¿Cuándo quieres empezar?</label>
                          <select class="selectpicker" name="date" formControlName='date' id="date"
                            title="Selecciona el semestre" multiple>
                            <option id="date_primer" value="primer">Primer semestre</option>
                            <option id="date_segundo" value="segundo">Segundo semestre</option>
                          </select>
                        </div>
                      </div>
                    </div>



                    <div class="row mb-3 mb-3">
                      <div class="col-md-12 col-lg-6 pr-lg-5">
                        <div class="form-label-group">
                          <label>¿Qué área de estudio te interesa?</label>
                          <select class="selectpicker" name="study_field" formControlName='study_field' id="study_field"
                            data-live-search="true" title="Elige todas los que te quieras" data-size="5"
                            data-actions-box="true" multiple>
                            <option [value]="field.toLowerCase()" *ngFor="let field of arrFields">{{field}}</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-12 col-lg-6 pl-lg-5 ">
                        <div class="form-label-group">
                          <label> ¿Qué tipo de curso quieres estudiar?</label>
                          <select class="selectpicker" name="study_level" formControlName='study_level' id="study_level"
                            data-live-search="true" title="Elige tantos como te interesen" data-size="5"
                            data-actions-box="true" multiple>
                            <option [value]="level.toLowerCase()" *ngFor="let level of arrLevels">{{level}}</option>
                          </select>
                        </div>
                      </div>
                    </div>



                    <div class="row mb-3">
                      <div class="col-md-12 col-lg-6 pr-lg-5">
                        <div class="form-label-group">
                          <label> ¿De qué país eres?*</label>
                          <select class="selectpicker" name="country_origin" formControlName='country_origin' id="country_origin"
                            data-live-search="true" title="Selecciona tu nacionalidad" data-size="5"
                            (change)="comprobarEspana($event)">
                            <option [value]="country.nombre.toLowerCase()" *ngFor="let country of arrCountries">{{country.nombre}}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-12 col-lg-6 pl-lg-5">
                        <div class="form-label-group">
                          <label> ¿En qué país quieres disfrutar tu beca?</label>
                          <select class="selectpicker" name="country_destination" formControlName='country_destination'
                            id="country_destination" data-live-search="true"
                            title="Selecciona todos los que te interesen" data-size="5" data-actions-box="true"
                            multiple>
                            <option [value]="country.nombre.toLowerCase()" *ngFor="let country of arrCountries">{{country.nombre}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>


                    <!-- Provincias (pendiente de implementar) -->
                    <!-- <div class="row mb-3">
                      <div class="col-md-12 col-lg-6 pr-lg-5 hide" [ngClass]="{'mostrar': comprobacionPais}">
                        <div class="form-label-group">
                          <label> ¿De provincia eres? * (Sólo España)</label>
                          <select class="selectpicker" name="province_origin" formControlName='province_origin'
                            id="province_origin_" data-live-search="true" title="Selecciona todas las que te interesen"
                            data-size="5">
                            <option [value]="province" *ngFor="let province of arrProvinces">{{province}}</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-12 col-lg-6 pl-lg-5 hide" [ngClass]="{'mostrar': comprobacionPais}">
                        <div class="form-label-group">
                          <label> ¿Para que provincia quieres la beca? (Sólo España)</label>
                          <select class="selectpicker" name="province_destination"
                            formControlName='province_destination' id="province_destination_" data-live-search="true"
                            title="Selecciona tu provincia" data-size="5" data-actions-box="true" multiple>
                            <option [value]="province" *ngFor="let province of arrProvinces">{{province}}</option>
                          </select>
                        </div>
                      </div>
                    </div> -->



                    <div class="row">
                      <div class="col-md-12 col-lg-6 pr-lg-5 mb-3">
                        <button class="btn btn-block btn-secondary" href="#carouselExampleControls" role="button"
                          data-slide="prev">
                          Atrás
                        </button>
                      </div>

                      <div class="col-md-12 col-lg-6 pl-lg-5">
                        <!-- <button class="botonReactivo btn btn-block btn-login text-uppercase font-weight-bold"
                          type="submit" [ngClass]="{'button-disabled': formRegistro.invalid}"
                          [disabled]="formRegistro.invalid" data-toggle="modal"
                          data-target="#exampleModalCenter">Regístrate</button> -->
                          <button class="botonReactivo btn btn-block btn-login text-uppercase font-weight-bold"
                          type="submit" data-toggle="modal"
                          data-target="#exampleModalCenter">Regístrate</button>
                        <!-- <p
                          class="error" *ngIf="formRegistro.invalid" >
                          Parece que has olvidado completar alguno de los campos marcados con *
                        </p> -->

                      </div>
                    </div>
                  </div>
                </div>
                <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a> -->
                <!-- <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body">
        {{result}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success hide" (click)="continuarLogin()" data-dismiss="modal"
          [ngClass]="{'mostrar': comprobacionResultado}">Continuar al Log-In</button>
      </div>
    </div>
  </div>
</div>